In [1]:
# ============================
# By: Imam Cholissodin | imamcs@ub.ac.id
# Fakultas Ilmu Komputer (Filkom)
# Universitas Brawijaya (UB)
# Tgl 20 Mei 2020
# Semoga Bermanfaat. Aamiin :D
# ====================================
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import os
!pwd
os.chdir("/content/drive/My Drive")
!pwd

/content
/content/drive/My Drive

In [0]:
#!mkdir Iqra_Algorithm
os.chdir("/content/drive/My Drive/Iqra_Algorithm")

In [4]:
!pwd

/content/drive/My Drive/Iqra_Algorithm

In [6]:
#Upload Dataset Weather
from google.colab import files
uploaded = files.upload()

Saving weather-dataset.zip to weather-dataset.zip

In [7]:
!ls -l -a --block-size=K

total 2288K
-rw------- 1 root root 2288K May 20 05:58 weather-dataset.zip

In [0]:
!mkdir dataset

In [9]:
# Ekstrak file weather-dataset.zip ke folder "dataset"
!unzip weather-dataset.zip -d dataset

Archive:  weather-dataset.zip
  inflating: dataset/weatherHistory.csv

In [10]:
# Melihat ukuran file hasil ekstrak
!ls -l -a --block-size=K ./dataset

total 15913K
-rw------- 1 root root 15913K Sep 25  2019 weatherHistory.csv

In [0]:
import pandas as pd
# load data as dataframe (df)
df_load_data = pd.read_csv('./dataset/weatherHistory.csv')

In [15]:
print(df_load_data)

                      Formatted Date  ...                           Daily Summary
0      2006-04-01 00:00:00.000 +0200  ...       Partly cloudy throughout the day.
1      2006-04-01 01:00:00.000 +0200  ...       Partly cloudy throughout the day.
2      2006-04-01 02:00:00.000 +0200  ...       Partly cloudy throughout the day.
3      2006-04-01 03:00:00.000 +0200  ...       Partly cloudy throughout the day.
4      2006-04-01 04:00:00.000 +0200  ...       Partly cloudy throughout the day.
...                              ...  ...                                     ...
96448  2016-09-09 19:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96449  2016-09-09 20:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96450  2016-09-09 21:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96451  2016-09-09 22:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96452  2016-09-09 23:00:00.000 +0200  ...  Partly cloudy starting in the morning.

[96453 rows x 12 columns]

In [5]:
# menampilkan nama kolom pada df
print(df_load_data.columns.values.tolist())

['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover', 'Pressure (millibars)', 'Daily Summary']

In [18]:
# Get Data pada kolom "Formatted Date" dan misal dengan "Temperature (C)"
df_load_data.describe()

       Temperature (C)  ...  Pressure (millibars)
count     96453.000000  ...          96453.000000
mean         11.932678  ...           1003.235956
std           9.551546  ...            116.969906
min         -21.822222  ...              0.000000
25%           4.688889  ...           1011.900000
50%          12.000000  ...           1016.450000
75%          18.838889  ...           1021.090000
max          39.905556  ...           1046.380000

[8 rows x 8 columns]

In [19]:
df_load_data["Temperature (C)"].mean()

11.932678437511868

In [256]:
# Get Data pada kolom "Formatted Date" dan misal dengan "Temperature (C)"
df_load_data[["Formatted Date","Temperature (C)"]].head()

                  Formatted Date  Temperature (C)
0  2006-04-01 00:00:00.000 +0200         9.472222
1  2006-04-01 01:00:00.000 +0200         9.355556
2  2006-04-01 02:00:00.000 +0200         9.377778
3  2006-04-01 03:00:00.000 +0200         8.288889
4  2006-04-01 04:00:00.000 +0200         8.755556

In [258]:
df_load_data.dtypes

Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)      float64
Visibility (km)             float64
Loud Cover                  float64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

In [264]:
df_load_data['Formatted Date'].str[:10].head()

0    2006-04-01
1    2006-04-01
2    2006-04-01
3    2006-04-01
4    2006-04-01
Name: Formatted Date, dtype: object

In [110]:
df_load_data.groupby(df_load_data["Formatted Date"].str[:10]).mean()

                Temperature (C)  ...  Pressure (millibars)
Formatted Date                   ...
2006-01-01             3.873148  ...           1012.279167
2006-01-02             5.418519  ...           1010.131667
2006-01-03             2.319444  ...           1020.805000
2006-01-04             2.274074  ...            981.826667
2006-01-05             2.698148  ...            935.988333
...                         ...  ...                   ...
2016-12-27             0.280324  ...           1020.304583
2016-12-28             0.224306  ...           1020.334583
2016-12-29             0.169676  ...           1020.365833
2016-12-30             0.119444  ...           1020.395000
2016-12-31             0.072454  ...           1020.423750

[4018 rows x 8 columns]

In [0]:
df_load_data[["Temperature (C)","Apparent Temperature (C)"]].groupby(df_load_data["Formatted Date"].str[:10]).mean()

In [282]:
#Get rata-rata per tanggal antara [2006;2016], :10 tahun/bln/tgl
df_load_data["Temperature (C)"].groupby(df_load_data["Formatted Date"].str[:10]).mean().reset_index(name='AVG')

     Formatted Date       AVG
0        2006-01-01  3.873148
1        2006-01-02  5.418519
2        2006-01-03  2.319444
3        2006-01-04  2.274074
4        2006-01-05  2.698148
...             ...       ...
4013     2016-12-27  0.280324
4014     2016-12-28  0.224306
4015     2016-12-29  0.169676
4016     2016-12-30  0.119444
4017     2016-12-31  0.072454

[4018 rows x 2 columns]

In [0]:
# salin hasil penghitungan Mean ke df2
df2 = df_load_data["Temperature (C)"].groupby(df_load_data["Formatted Date"].str[:10]).mean().reset_index(name='AVG').copy()

In [0]:
# hitung hasil absolute selisih dari nilai Mean (AVG) dikurangi 25
# cara 1 --> ini agak lama timenya
cons_t = 25
#def col_subtract(row):
#    row['A'] = row['A'] - cons_t
#    return row

#apply the function to the dataframe
#df2 = df2.apply(col_subtract, axis=1)

# cara 2 --> ini diklaim lebih cepat
depth=df2['AVG']-cons_t
df2.insert(2,'Selisih',depth.abs())

In [0]:
# where 1 is the axis number (0 for rows and 1 for columns.)
# df2 = df2.drop('Tahun', 1)

In [0]:
df2
# Convert Formatted Date ke datetime
df2['Formatted Date'] =  pd.to_datetime(df2['Formatted Date'])

In [251]:
df2["Formatted Date"].dt.year

0       2006
1       2006
2       2006
3       2006
4       2006
        ...
4013    2016
4014    2016
4015    2016
4016    2016
4017    2016
Name: Formatted Date, Length: 4018, dtype: int64

In [0]:
#df2.insert(0,'Tahun',df2["Formatted Date"].str[:4])

In [0]:
# Get date yang memiliki nilai minimal "Selisih" tiap tahun, diambil berapa terdekat (const_n_first)
const_n_first = 10
df3 = df2.sort_values("Selisih").groupby(df2["Formatted Date"].dt.year, as_index=False).head(const_n_first).sort_values("Formatted Date").reset_index(drop=True, inplace=False).copy()

In [315]:
df3

   Formatted Date        AVG   Selisih
0      2006-06-20  24.962037  0.037963
1      2006-06-25  25.066435  0.066435
2      2006-07-31  25.146991  0.146991
3      2006-08-18  24.950926  0.049074
4      2006-08-19  25.125926  0.125926
5      2007-06-15  25.186806  0.186806
6      2007-07-02  24.899074  0.100926
7      2007-08-09  25.069444  0.069444
8      2007-08-20  25.033102  0.033102
9      2007-08-26  25.201620  0.201620
10     2008-05-28  24.871528  0.128472
11     2008-06-22  25.436806  0.436806
12     2008-07-31  24.843056  0.156944
13     2008-08-03  25.003472  0.003472
14     2008-09-05  24.927083  0.072917
15     2009-06-16  24.734259  0.265741
16     2009-07-14  24.928241  0.071759
17     2009-07-18  24.752546  0.247454
18     2009-08-22  25.072917  0.072917
19     2009-08-26  25.293056  0.293056
20     2010-06-09  24.710880  0.289120
21     2010-06-14  25.034954  0.034954
22     2010-07-20  24.790509  0.209491
23     2010-08-03  25.071759  0.071759
24     2010-08-27  24.807407  0.192593
25     2011-06-18  24.870602  0.129398
26     2011-06-22  24.728472  0.271528
27     2011-06-23  25.240046  0.240046
28     2011-07-12  24.997685  0.002315
29     2011-08-19  24.984491  0.015509
30     2012-06-22  25.082176  0.082176
31     2012-07-20  24.998843  0.001157
32     2012-07-29  24.929861  0.070139
33     2012-08-01  24.819907  0.180093
34     2012-08-26  25.008565  0.008565
35     2013-06-16  24.536343  0.463657
36     2013-07-08  24.628241  0.371759
37     2013-08-10  24.430787  0.569213
38     2013-08-13  24.819907  0.180093
39     2013-08-19  25.269907  0.269907
40     2014-06-09  24.827546  0.172454
41     2014-06-12  25.018519  0.018519
42     2014-07-20  25.000463  0.000463
43     2014-07-21  25.356250  0.356250
44     2014-08-11  25.358102  0.358102
45     2015-06-13  24.842361  0.157639
46     2015-07-05  24.869676  0.130324
47     2015-07-16  24.886574  0.113426
48     2015-08-03  24.852083  0.147917
49     2015-08-28  24.836111  0.163889
50     2016-06-22  25.046991  0.046991
51     2016-07-01  25.271759  0.271759
52     2016-07-11  25.158102  0.158102
53     2016-07-25  24.939815  0.060185
54     2016-07-30  25.048380  0.048380

In [269]:
# Load dataset tanggal Ramadan mulai tahun 2006 sampai 2016
#Upload Dataset ramadanDate
from google.colab import files
uploaded = files.upload()

Saving ramadanDate.csv to ramadanDate.csv

In [0]:
#move ramadanDate.csv ke folder "dataset"
!mv ramadanDate.csv ./dataset

In [272]:
!ls ./dataset

ramadanDate.csv  weatherHistory.csv

In [0]:
# load data as dataframe (df)
df_ramadan = pd.read_csv('./dataset/ramadanDate.csv')

In [274]:
df_ramadan

    Tahun Mulai Ramadan Selesai Ramadan
0    2006     23-Sep-06       22-Oct-06
1    2007     13-Sep-07       11-Oct-07
2    2008      1-Sep-08       30-Sep-08
3    2009     21-Aug-09       19-Sep-09
4    2010     11-Aug-10        8-Sep-10
5    2011     31-Jul-11       29-Aug-11
6    2012     20-Jul-12       17-Aug-12
7    2013      9-Jul-13        6-Aug-13
8    2014     28-Jun-14       27-Jul-14
9    2015     18-Jun-15       16-Jul-15
10   2016      6-Jun-16        5-Jul-16

In [0]:
#Convert kolom "Mulai Ramadan" dan "Selesai Ramadan" ke datetime
df_ramadan['Mulai Ramadan']= pd.to_datetime(df_ramadan['Mulai Ramadan'])
df_ramadan['Selesai Ramadan']= pd.to_datetime(df_ramadan['Selesai Ramadan'])

In [279]:
df_ramadan.dtypes

Tahun                       int64
Mulai Ramadan      datetime64[ns]
Selesai Ramadan    datetime64[ns]
dtype: object

In [0]:
# Mengubah interval Ramadan menjadi lebih lebar, yaitu pada interval [vRMin-abs(Ev); vRMax+abs(Ev)]. 
# Misal Ev diset dengan nilai 0 atau maks dengan nilai 5 (hari).
const_Ev = 3
df_ramadan['Mulai Ramadan'] = df_ramadan['Mulai Ramadan'] - pd.Timedelta(const_Ev, unit='d')
df_ramadan['Selesai Ramadan'] = df_ramadan['Selesai Ramadan'] + pd.Timedelta(const_Ev, unit='d')

In [353]:
df_ramadan

    Tahun Mulai Ramadan Selesai Ramadan
0    2006    2006-09-21      2006-10-24
1    2007    2007-09-11      2007-10-13
2    2008    2008-08-30      2008-10-02
3    2009    2009-08-19      2009-09-21
4    2010    2010-08-09      2010-09-10
5    2011    2011-07-29      2011-08-31
6    2012    2012-07-18      2012-08-19
7    2013    2013-07-07      2013-08-08
8    2014    2014-06-26      2014-07-29
9    2015    2015-06-16      2015-07-18
10   2016    2016-06-04      2016-07-07

In [65]:
# df_ramadan padding kebawah sebanyak const_n_first, agar ketika di merger sukses  
# .reset_index(drop=True, inplace=False).copy()
df_ramadan = pd.concat([df_ramadan]*const_n_first).sort_index().reset_index(drop=True, inplace=False)
df_ramadan

     Tahun Mulai Ramadan Selesai Ramadan
0     2006    2006-09-20      2006-10-25
1     2006    2006-09-20      2006-10-25
2     2006    2006-09-20      2006-10-25
3     2006    2006-09-20      2006-10-25
4     2006    2006-09-20      2006-10-25
..     ...           ...             ...
105   2016    2016-06-03      2016-07-08
106   2016    2016-06-03      2016-07-08
107   2016    2016-06-03      2016-07-08
108   2016    2016-06-03      2016-07-08
109   2016    2016-06-03      2016-07-08

[110 rows x 3 columns]

In [0]:
# Tampilkan df2 dan df_ramadan
df_col_merged = pd.concat([df3, df_ramadan], axis=1)

In [356]:
df_col_merged

   Formatted Date        AVG   Selisih  Tahun Mulai Ramadan Selesai Ramadan
0      2006-06-20  24.962037  0.037963   2006    2006-09-21      2006-10-24
1      2006-06-25  25.066435  0.066435   2006    2006-09-21      2006-10-24
2      2006-07-31  25.146991  0.146991   2006    2006-09-21      2006-10-24
3      2006-08-18  24.950926  0.049074   2006    2006-09-21      2006-10-24
4      2006-08-19  25.125926  0.125926   2006    2006-09-21      2006-10-24
5      2007-06-15  25.186806  0.186806   2007    2007-09-11      2007-10-13
6      2007-07-02  24.899074  0.100926   2007    2007-09-11      2007-10-13
7      2007-08-09  25.069444  0.069444   2007    2007-09-11      2007-10-13
8      2007-08-20  25.033102  0.033102   2007    2007-09-11      2007-10-13
9      2007-08-26  25.201620  0.201620   2007    2007-09-11      2007-10-13
10     2008-05-28  24.871528  0.128472   2008    2008-08-30      2008-10-02
11     2008-06-22  25.436806  0.436806   2008    2008-08-30      2008-10-02
12     2008-07-31  24.843056  0.156944   2008    2008-08-30      2008-10-02
13     2008-08-03  25.003472  0.003472   2008    2008-08-30      2008-10-02
14     2008-09-05  24.927083  0.072917   2008    2008-08-30      2008-10-02
15     2009-06-16  24.734259  0.265741   2009    2009-08-19      2009-09-21
16     2009-07-14  24.928241  0.071759   2009    2009-08-19      2009-09-21
17     2009-07-18  24.752546  0.247454   2009    2009-08-19      2009-09-21
18     2009-08-22  25.072917  0.072917   2009    2009-08-19      2009-09-21
19     2009-08-26  25.293056  0.293056   2009    2009-08-19      2009-09-21
20     2010-06-09  24.710880  0.289120   2010    2010-08-09      2010-09-10
21     2010-06-14  25.034954  0.034954   2010    2010-08-09      2010-09-10
22     2010-07-20  24.790509  0.209491   2010    2010-08-09      2010-09-10
23     2010-08-03  25.071759  0.071759   2010    2010-08-09      2010-09-10
24     2010-08-27  24.807407  0.192593   2010    2010-08-09      2010-09-10
25     2011-06-18  24.870602  0.129398   2011    2011-07-29      2011-08-31
26     2011-06-22  24.728472  0.271528   2011    2011-07-29      2011-08-31
27     2011-06-23  25.240046  0.240046   2011    2011-07-29      2011-08-31
28     2011-07-12  24.997685  0.002315   2011    2011-07-29      2011-08-31
29     2011-08-19  24.984491  0.015509   2011    2011-07-29      2011-08-31
30     2012-06-22  25.082176  0.082176   2012    2012-07-18      2012-08-19
31     2012-07-20  24.998843  0.001157   2012    2012-07-18      2012-08-19
32     2012-07-29  24.929861  0.070139   2012    2012-07-18      2012-08-19
33     2012-08-01  24.819907  0.180093   2012    2012-07-18      2012-08-19
34     2012-08-26  25.008565  0.008565   2012    2012-07-18      2012-08-19
35     2013-06-16  24.536343  0.463657   2013    2013-07-07      2013-08-08
36     2013-07-08  24.628241  0.371759   2013    2013-07-07      2013-08-08
37     2013-08-10  24.430787  0.569213   2013    2013-07-07      2013-08-08
38     2013-08-13  24.819907  0.180093   2013    2013-07-07      2013-08-08
39     2013-08-19  25.269907  0.269907   2013    2013-07-07      2013-08-08
40     2014-06-09  24.827546  0.172454   2014    2014-06-26      2014-07-29
41     2014-06-12  25.018519  0.018519   2014    2014-06-26      2014-07-29
42     2014-07-20  25.000463  0.000463   2014    2014-06-26      2014-07-29
43     2014-07-21  25.356250  0.356250   2014    2014-06-26      2014-07-29
44     2014-08-11  25.358102  0.358102   2014    2014-06-26      2014-07-29
45     2015-06-13  24.842361  0.157639   2015    2015-06-16      2015-07-18
46     2015-07-05  24.869676  0.130324   2015    2015-06-16      2015-07-18
47     2015-07-16  24.886574  0.113426   2015    2015-06-16      2015-07-18
48     2015-08-03  24.852083  0.147917   2015    2015-06-16      2015-07-18
49     2015-08-28  24.836111  0.163889   2015    2015-06-16      2015-07-18
50     2016-06-22  25.046991  0.046991   2016    2016-06-04      2016-07-07
51     2016-07-01  25.271759  0.271759   2016    2016-06-04      2016-07-07
52     2016-07-11  25.158102  0.158102   2016    2016-06-04      2016-07-07
53     2016-07-25  24.939815  0.060185   2016    2016-06-04      2016-07-07
54     2016-07-30  25.048380  0.048380   2016    2016-06-04      2016-07-07

In [67]:
df_match = df_col_merged[df_col_merged['Formatted Date'].between(df_col_merged['Mulai Ramadan'], df_col_merged['Selesai Ramadan'], inclusive=False)].copy()
df_match

    Formatted Date        AVG   Selisih  Tahun Mulai Ramadan Selesai Ramadan
28      2008-09-04  24.377546  0.622454   2008    2008-08-29      2008-10-03
29      2008-09-05  24.927083  0.072917   2008    2008-08-29      2008-10-03
37      2009-08-22  25.072917  0.072917   2009    2009-08-18      2009-09-22
38      2009-08-26  25.293056  0.293056   2009    2009-08-18      2009-09-22
39      2009-09-04  25.565741  0.565741   2009    2009-08-18      2009-09-22
48      2010-08-16  24.498611  0.501389   2010    2010-08-08      2010-09-11
49      2010-08-27  24.807407  0.192593   2010    2010-08-08      2010-09-11
56      2011-08-07  25.643981  0.643981   2011    2011-07-28      2011-09-01
57      2011-08-19  24.984491  0.015509   2011    2011-07-28      2011-09-01
65      2012-07-20  24.998843  0.001157   2012    2012-07-17      2012-08-20
66      2012-07-29  24.929861  0.070139   2012    2012-07-17      2012-08-20
67      2012-08-01  24.819907  0.180093   2012    2012-07-17      2012-08-20
72      2013-07-07  24.403241  0.596759   2013    2013-07-06      2013-08-09
73      2013-07-08  24.628241  0.371759   2013    2013-07-06      2013-08-09
74      2013-07-26  24.232870  0.767130   2013    2013-07-06      2013-08-09
82      2014-07-06  24.353472  0.646528   2014    2014-06-25      2014-07-30
83      2014-07-07  25.666204  0.666204   2014    2014-06-25      2014-07-30
84      2014-07-20  25.000463  0.000463   2014    2014-06-25      2014-07-30
85      2014-07-21  25.356250  0.356250   2014    2014-06-25      2014-07-30
93      2015-07-05  24.869676  0.130324   2015    2015-06-15      2015-07-19
94      2015-07-16  24.886574  0.113426   2015    2015-06-15      2015-07-19
100     2016-06-22  25.046991  0.046991   2016    2016-06-03      2016-07-08
101     2016-07-01  25.271759  0.271759   2016    2016-06-03      2016-07-08
102     2016-07-02  25.878472  0.878472   2016    2016-06-03      2016-07-08

In [68]:
df_match.groupby(df_match["Tahun"]).size()

Tahun
2008    2
2009    3
2010    2
2011    2
2012    3
2013    3
2014    4
2015    2
2016    3
dtype: int64

In [0]:
df_match_temp = df_match.groupby(df_match["Tahun"]).size().reset_index().copy()
df_match_temp = df_match_temp.applymap(str)

In [94]:
aa = str(df_match_temp['Tahun'].tolist())
print(aa)
bb = ','.join([str(i) for i in df_match_temp['Tahun'].tolist()])
print(bb)

[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
2008,2009,2010,2011,2012,2013,2014,2015,2016

In [359]:
# Hitung couter_Match_In_Range (cM) dari kondisi pada df3 hanya diambil 1 terdekat (firt only)
cM = len(df_match.groupby(df_match["Tahun"]).size().index)
cM

9

In [360]:
# Hitung Akurasi (dengan Range Accuracy (Racc))
Byk_tahun = len(df_ramadan.index)/const_n_first
print(Byk_tahun)
Racc = cM/Byk_tahun
print('Akurasi Range (Racc) = ',Racc)

11.0
Akurasi Range (Racc) =  0.8181818181818182

In [0]:
# ========= Start Untuk Pengujian Otomatis dengan nilai Parameter Dinamis =========
# Parameter yg diuji:
#>> Dari Dataset Weather (diuji satu demi satu fitur yang ada)
## ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 
## 'Wind Bearing (degrees)', 'Visibility (km)', 'Pressure (millibars)']

#>> Dari parameter iqra' alg.
## suhu ideal bumi (t) = [15;40] , mengadopsi suhu ruangan 15-40 derajat celcius, misal dalam increment [0.01;1] 
## ketika Get date yang memiliki nilai minimal "Selisih" tiap tahun, diambil berapa terdekat (const_n_first), 
   # misal const_n_first = [1;3] or [5;10] or [1;365]
## parameter pengurang dan penambah interval Ramadan menjadi lebih lebar, yaitu pada interval [vRMin-abs(Ev); vRMax+abs(Ev)].
   # misal Ev = [0;3] or [0;5]

In [6]:
# menampilkan nama kolom pada df (all fitur)
print(df_load_data.columns.values.tolist())

['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover', 'Pressure (millibars)', 'Daily Summary']

In [0]:
#fitur terpilih
nama_fitur = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)','Wind Bearing (degrees)', 'Visibility (km)', 'Pressure (millibars)']

In [14]:
len(nama_fitur)

7

In [16]:
for hh in range(len(nama_fitur)): # utk loop fitur di dataset Weather ter
  print(nama_fitur[hh])

Temperature (C)
Apparent Temperature (C)
Humidity
Wind Speed (km/h)
Wind Bearing (degrees)
Visibility (km)
Pressure (millibars)

In [50]:
# ========Skema Pengujian Stategis ====================

# load dataset
import pandas as pd
import numpy as np
import datetime
# load data as dataframe (df)
#df_load_data = pd.read_csv('./dataset/weatherHistory.csv')
#df_ramadan = pd.read_csv('./dataset/ramadanDate.csv')

#fitur terpilih
nama_fitur = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)','Wind Bearing (degrees)', 'Visibility (km)', 'Pressure (millibars)']

df_hasil_akhir = pd.DataFrame(np.empty((0, 7))) #creates a new dataframe that's empty
df_hasil_akhir.columns=['nama fitur', 'suhu bumi (t)', 'const_n_first', 'Ev','Racc','Time','tahun true']

ts = datetime.datetime.now()
#for hh in range(len(nama_fitur)): # utk loop fitur di dataset Weather ter
for hh in range(1): # utk loop fitur di dataset Weather ter
  
  #for ii in range(15,40): # utk loop parameter suhu ideal bumi (t)=[15;40]
  #for ii in np.arange(15, 40.01, 0.01): # utk loop parameter suhu ideal bumi (t)=[15;40] dgn incrment 0.01
  for ii in np.arange(10, 41, 1): # utk loop parameter suhu ideal bumi (t)=[10;40] dgn incrment 1
  #for ii in range(1): # utk loop parameter suhu ideal bumi (t)=[15;40] dgn incrment 0.01
    cons_t = ii
    #for jj in range(1): # utk loop parameter const_n_first
    for jj in np.arange(1, 21, 1): # utk loop parameter const_n_first= [1;15]
      const_n_first = jj
      for kk in range(4): # utk loop parameter Ev = [0;3]
        const_Ev = kk

        ts2 = datetime.datetime.now()
        #start To Do
        #-----------       

        df_load_data = pd.read_csv('./dataset/weatherHistory.csv')

        # salin hasil penghitungan Mean ke df2
        df2 = df_load_data[nama_fitur[hh]].groupby(df_load_data["Formatted Date"].str[:10]).mean().reset_index(name='AVG').copy()

        # hitung hasil absolute selisih dari nilai Mean (AVG) dikurangi cons_t
        depth=df2['AVG']-cons_t
        df2.insert(2,'Selisih',depth.abs())

        # Convert Formatted Date ke datetime
        df2['Formatted Date'] =  pd.to_datetime(df2['Formatted Date'])
        #df2["Formatted Date"].dt.year

        # Get date yang memiliki nilai minimal "Selisih" tiap tahun, diambil berapa terdekat (const_n_first)
        #const_n_first = 5
        df3 = df2.sort_values("Selisih").groupby(df2["Formatted Date"].dt.year, as_index=False).head(const_n_first).sort_values("Formatted Date").reset_index(drop=True, inplace=False).copy()

        # load data as dataframe (df)
        df_ramadan = pd.read_csv('./dataset/ramadanDate.csv')

        #Convert kolom "Mulai Ramadan" dan "Selesai Ramadan" ke datetime
        df_ramadan['Mulai Ramadan']= pd.to_datetime(df_ramadan['Mulai Ramadan'])
        df_ramadan['Selesai Ramadan']= pd.to_datetime(df_ramadan['Selesai Ramadan'])    

        # Mengubah interval Ramadan menjadi lebih lebar, yaitu pada interval [vRMin-abs(Ev); vRMax+abs(Ev)]. 
        # Misal Ev diset dengan nilai 0 atau maks dengan nilai 5 (hari).
        # const_Ev = 2
        df_ramadan['Mulai Ramadan'] = df_ramadan['Mulai Ramadan'] - pd.Timedelta(const_Ev, unit='d')
        df_ramadan['Selesai Ramadan'] = df_ramadan['Selesai Ramadan'] + pd.Timedelta(const_Ev, unit='d')


        # df_ramadan padding kebawah sebanyak const_n_first, agar ketika di merger sukses  
        # .reset_index(drop=True, inplace=False).copy()
        df_ramadan = pd.concat([df_ramadan]*const_n_first).sort_index().reset_index(drop=True, inplace=False)

        # Tampilkan hasil merger df2 dan df_ramadan
        df_col_merged = pd.concat([df3, df_ramadan], axis=1)

        df_match = df_col_merged[df_col_merged['Formatted Date'].between(df_col_merged['Mulai Ramadan'], df_col_merged['Selesai Ramadan'], inclusive=False)].copy()

        # df_match.groupby(df_match["Tahun"]).size()
        df_match_temp = df_match.groupby(df_match["Tahun"]).size().reset_index().copy()
        df_match_temp = df_match_temp.applymap(str)
        list_tahun_true = ','.join([str(i) for i in df_match_temp['Tahun'].tolist()])

        # Hitung couter_Match_In_Range (cM) dari kondisi pada df3 hanya diambil 1 terdekat (firt only)
        cM = len(df_match.groupby(df_match["Tahun"]).size().index)

        # Hitung Akurasi (dengan Range Accuracy (Racc))
        Byk_tahun = len(df_ramadan.index)/const_n_first
        #print(Byk_tahun)
        Racc = cM/Byk_tahun
        #print('Akurasi Range (Racc) = ',Racc)



        #---------------
        #end To Do
        tf2 = datetime.datetime.now()
        te2 = tf2 - ts2

        #print('.')
        #df_hasil_akhir['nama fitur'].append(str(nama_fitur[hh]), ignore_index = True)
        df_hasil_akhir = df_hasil_akhir.append({'nama fitur': nama_fitur[hh],'suhu bumi (t)': cons_t,'const_n_first': const_n_first,'Ev': const_Ev,'Racc': Racc,'Time': te2, 'tahun true': list_tahun_true}, ignore_index=True)

        #pd.concat([df_hasil_akhir, df_temp_hasil], axis=0)
        #df_hasil_akhir = df_hasil_akhir.append(v_Racc_new, ignore_index = True) # ignoring index is optional

tf = datetime.datetime.now()
te = tf - ts
print('Waktu keseluruhan = ',te)

df_hasil_akhir

Waktu keseluruhan =  2:52:19.818314

            nama fitur  suhu bumi (t)  ...      Racc            Time
0      Temperature (C)           15.0  ...  0.090909 00:00:01.553494
1      Temperature (C)           15.0  ...  0.090909 00:00:00.374777
2      Temperature (C)           15.0  ...  0.090909 00:00:00.359984
3      Temperature (C)           15.0  ...  0.090909 00:00:00.351454
4      Temperature (C)           15.0  ...  0.090909 00:00:00.359510
...                ...            ...  ...       ...             ...
30007  Temperature (C)           40.0  ...  0.454545 00:00:00.324364
30008  Temperature (C)           40.0  ...  0.454545 00:00:00.338481
30009  Temperature (C)           40.0  ...  0.454545 00:00:00.329305
30010  Temperature (C)           40.0  ...  0.454545 00:00:00.326949
30011  Temperature (C)           40.0  ...  0.545455 00:00:00.317721

[30012 rows x 6 columns]

In [0]:
# Simpan df_hasil_akhir dalam file csv
file_name = 'df_hasil_akhir.csv'
df_hasil_akhir.to_csv(file_name, encoding='utf-8', index=False)

In [0]:
#!rm df_hasil_akhir

In [56]:
!ls -l -a --block-size=K

total 4865K
drwx------ 2 root root    4K May 20 06:01 dataset
-rw------- 1 root root 2573K May 21 09:33 df_hasil_akhir.csv
-rw------- 1 root root 2288K May 20 05:58 weather-dataset.zip

In [95]:
# ========Skema Pengujian Stategis ke-2 ====================

# load dataset
import pandas as pd
import numpy as np
import datetime
# load data as dataframe (df)
#df_load_data = pd.read_csv('./dataset/weatherHistory.csv')
#df_ramadan = pd.read_csv('./dataset/ramadanDate.csv')

#fitur terpilih
nama_fitur = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)','Wind Bearing (degrees)', 'Visibility (km)', 'Pressure (millibars)']

df_hasil_akhir = pd.DataFrame(np.empty((0, 7))) #creates a new dataframe that's empty
df_hasil_akhir.columns=['nama fitur', 'suhu bumi (t)', 'const_n_first', 'Ev','Racc','Time','tahun true']

ts = datetime.datetime.now()
#for hh in range(len(nama_fitur)): # utk loop fitur di dataset Weather ter
for hh in range(2): # utk loop fitur di dataset Weather ter
  
  #for ii in range(15,40): # utk loop parameter suhu ideal bumi (t)=[15;40]
  #for ii in np.arange(15, 40.01, 0.01): # utk loop parameter suhu ideal bumi (t)=[15;40] dgn incrment 0.01
  for ii in np.arange(10, 41, 1): # utk loop parameter suhu ideal bumi (t)=[10;40] dgn incrment 1
  #for ii in range(1): # utk loop parameter suhu ideal bumi (t)=[15;40] dgn incrment 0.01
    cons_t = ii
    #for jj in range(1): # utk loop parameter const_n_first
    for jj in np.arange(1, 21, 1): # utk loop parameter const_n_first= [1;15]
      const_n_first = jj
      for kk in range(4): # utk loop parameter Ev = [0;3]
        const_Ev = kk

        ts2 = datetime.datetime.now()
        #start To Do
        #-----------       

        df_load_data = pd.read_csv('./dataset/weatherHistory.csv')

        # salin hasil penghitungan Mean ke df2
        df2 = df_load_data[nama_fitur[hh]].groupby(df_load_data["Formatted Date"].str[:10]).mean().reset_index(name='AVG').copy()

        # hitung hasil absolute selisih dari nilai Mean (AVG) dikurangi cons_t
        depth=df2['AVG']-cons_t
        df2.insert(2,'Selisih',depth.abs())

        # Convert Formatted Date ke datetime
        df2['Formatted Date'] =  pd.to_datetime(df2['Formatted Date'])
        #df2["Formatted Date"].dt.year

        # Get date yang memiliki nilai minimal "Selisih" tiap tahun, diambil berapa terdekat (const_n_first)
        #const_n_first = 5
        df3 = df2.sort_values("Selisih").groupby(df2["Formatted Date"].dt.year, as_index=False).head(const_n_first).sort_values("Formatted Date").reset_index(drop=True, inplace=False).copy()

        # load data as dataframe (df)
        df_ramadan = pd.read_csv('./dataset/ramadanDate.csv')

        #Convert kolom "Mulai Ramadan" dan "Selesai Ramadan" ke datetime
        df_ramadan['Mulai Ramadan']= pd.to_datetime(df_ramadan['Mulai Ramadan'])
        df_ramadan['Selesai Ramadan']= pd.to_datetime(df_ramadan['Selesai Ramadan'])    

        # Mengubah interval Ramadan menjadi lebih lebar, yaitu pada interval [vRMin-abs(Ev); vRMax+abs(Ev)]. 
        # Misal Ev diset dengan nilai 0 atau maks dengan nilai 5 (hari).
        # const_Ev = 2
        df_ramadan['Mulai Ramadan'] = df_ramadan['Mulai Ramadan'] - pd.Timedelta(const_Ev, unit='d')
        df_ramadan['Selesai Ramadan'] = df_ramadan['Selesai Ramadan'] + pd.Timedelta(const_Ev, unit='d')


        # df_ramadan padding kebawah sebanyak const_n_first, agar ketika di merger sukses  
        # .reset_index(drop=True, inplace=False).copy()
        df_ramadan = pd.concat([df_ramadan]*const_n_first).sort_index().reset_index(drop=True, inplace=False)

        # Tampilkan hasil merger df2 dan df_ramadan
        df_col_merged = pd.concat([df3, df_ramadan], axis=1)

        df_match = df_col_merged[df_col_merged['Formatted Date'].between(df_col_merged['Mulai Ramadan'], df_col_merged['Selesai Ramadan'], inclusive=False)].copy()

        # df_match.groupby(df_match["Tahun"]).size()
        df_match_temp = df_match.groupby(df_match["Tahun"]).size().reset_index().copy()
        df_match_temp = df_match_temp.applymap(str)
        list_tahun_true = ','.join([str(i) for i in df_match_temp['Tahun'].tolist()])

        # Hitung couter_Match_In_Range (cM) dari kondisi pada df3 hanya diambil 1 terdekat (firt only)
        cM = len(df_match.groupby(df_match["Tahun"]).size().index)

        # Hitung Akurasi (dengan Range Accuracy (Racc))
        Byk_tahun = len(df_ramadan.index)/const_n_first
        #print(Byk_tahun)
        Racc = cM/Byk_tahun
        #print('Akurasi Range (Racc) = ',Racc)



        #---------------
        #end To Do
        tf2 = datetime.datetime.now()
        te2 = tf2 - ts2

        #print('.')
        #df_hasil_akhir['nama fitur'].append(str(nama_fitur[hh]), ignore_index = True)
        df_hasil_akhir = df_hasil_akhir.append({'nama fitur': nama_fitur[hh],'suhu bumi (t)': cons_t,'const_n_first': const_n_first,'Ev': const_Ev,'Racc': Racc,'Time': te2, 'tahun true': list_tahun_true}, ignore_index=True)

        #pd.concat([df_hasil_akhir, df_temp_hasil], axis=0)
        #df_hasil_akhir = df_hasil_akhir.append(v_Racc_new, ignore_index = True) # ignoring index is optional

tf = datetime.datetime.now()
te = tf - ts
print('Waktu keseluruhan = ',te)

df_hasil_akhir

# Simpan df_hasil_akhir dalam file csv
file_name = 'df_hasil_akhir2.csv'
df_hasil_akhir.to_csv(file_name, encoding='utf-8', index=False)

Waktu keseluruhan =  0:29:15.719252

In [99]:
# ========Skema Pengujian Stategis ke-3 ====================> Best & Better

# load dataset
import pandas as pd
import numpy as np
import datetime
# load data as dataframe (df)
#df_load_data = pd.read_csv('./dataset/weatherHistory.csv')
#df_ramadan = pd.read_csv('./dataset/ramadanDate.csv')

#fitur terpilih
nama_fitur = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)','Wind Bearing (degrees)', 'Visibility (km)', 'Pressure (millibars)']

df_hasil_akhir = pd.DataFrame(np.empty((0, 7))) #creates a new dataframe that's empty
df_hasil_akhir.columns=['nama fitur', 'suhu bumi (t)', 'const_n_first', 'Ev','Racc','Time','tahun true']

ts = datetime.datetime.now()
#for hh in range(len(nama_fitur)): # utk loop fitur di dataset Weather ter
for hh in range(7): # utk loop fitur di dataset Weather ter
#for hh in range(1): # utk loop fitur di dataset Weather ter
  
  #for ii in range(15,40): # utk loop parameter suhu ideal bumi (t)=[15;40]
  #for ii in np.arange(15, 40.01, 0.01): # utk loop parameter suhu ideal bumi (t)=[15;40] dgn incrment 0.01
  for ii in np.arange(10, 41, 1): # utk loop parameter suhu ideal bumi (t)=[10;40] dgn incrment 1
  #for ii in np.arange(19, 20, 1): # utk loop parameter suhu ideal bumi (t)=[10;40] dgn incrment 1
  #for ii in range(1): # utk loop parameter suhu ideal bumi (t)=[15;40] dgn incrment 0.01
    cons_t = ii
    #for jj in range(1): # utk loop parameter const_n_first
    for jj in np.arange(1, 21, 1): # utk loop parameter const_n_first= [1;15]
    #for jj in np.arange(12, 13, 1): # utk loop parameter const_n_first= [1;15]
      const_n_first = jj
      for kk in range(4): # utk loop parameter Ev = [0;3]
        const_Ev = kk

        ts2 = datetime.datetime.now()
        #start To Do
        #-----------       

        df_load_data = pd.read_csv('./dataset/weatherHistory.csv')

        # salin hasil penghitungan Mean ke df2
        df2 = df_load_data[nama_fitur[hh]].groupby(df_load_data["Formatted Date"].str[:10]).mean().reset_index(name='AVG').copy()

        # hitung hasil absolute selisih dari nilai Mean (AVG) dikurangi cons_t
        depth=df2['AVG']-cons_t
        df2.insert(2,'Selisih',depth.abs())

        # Convert Formatted Date ke datetime
        df2['Formatted Date'] =  pd.to_datetime(df2['Formatted Date'])
        #df2["Formatted Date"].dt.year

        # Get date yang memiliki nilai minimal "Selisih" tiap tahun, diambil berapa terdekat (const_n_first)
        #const_n_first = 5
        df3 = df2.sort_values("Selisih").groupby(df2["Formatted Date"].dt.year, as_index=False).head(const_n_first).sort_values("Formatted Date").reset_index(drop=True, inplace=False).copy()

        # load data as dataframe (df)
        df_ramadan = pd.read_csv('./dataset/ramadanDate.csv')

        #Convert kolom "Mulai Ramadan" dan "Selesai Ramadan" ke datetime
        df_ramadan['Mulai Ramadan']= pd.to_datetime(df_ramadan['Mulai Ramadan'])
        df_ramadan['Selesai Ramadan']= pd.to_datetime(df_ramadan['Selesai Ramadan'])    

        # Mengubah interval Ramadan menjadi lebih lebar, yaitu pada interval [vRMin-abs(Ev); vRMax+abs(Ev)]. 
        # Misal Ev diset dengan nilai 0 atau maks dengan nilai 5 (hari).
        # const_Ev = 2
        df_ramadan['Mulai Ramadan'] = df_ramadan['Mulai Ramadan'] - pd.Timedelta(const_Ev, unit='d')
        df_ramadan['Selesai Ramadan'] = df_ramadan['Selesai Ramadan'] + pd.Timedelta(const_Ev, unit='d')


        # df_ramadan padding kebawah sebanyak const_n_first, agar ketika di merger sukses  
        # .reset_index(drop=True, inplace=False).copy()
        df_ramadan = pd.concat([df_ramadan]*const_n_first).sort_index().reset_index(drop=True, inplace=False)

        # Tampilkan hasil merger df2 dan df_ramadan
        df_col_merged = pd.concat([df3, df_ramadan], axis=1)

        df_match = df_col_merged[df_col_merged['Formatted Date'].between(df_col_merged['Mulai Ramadan'], df_col_merged['Selesai Ramadan'], inclusive=False)].copy()

        # df_match.groupby(df_match["Tahun"]).size()
        df_match_temp = df_match.groupby(df_match["Tahun"]).size().reset_index().copy()
        df_match_temp = df_match_temp.applymap(str)
        list_tahun_true = '|'.join([str(i) for i in df_match_temp['Tahun'].tolist()])
        
        # Hitung couter_Match_In_Range (cM) dari kondisi pada df3 hanya diambil 1 terdekat (firt only)
        cM = len(df_match.groupby(df_match["Tahun"]).size().index)

        # Hitung Akurasi (dengan Range Accuracy (Racc))
        Byk_tahun = len(df_ramadan.index)/const_n_first
        #print(Byk_tahun)
        Racc = cM/Byk_tahun
        #print('Akurasi Range (Racc) = ',Racc)



        #---------------
        #end To Do
        tf2 = datetime.datetime.now()
        te2 = tf2 - ts2

        #print('.')
        #df_hasil_akhir['nama fitur'].append(str(nama_fitur[hh]), ignore_index = True)
        df_hasil_akhir = df_hasil_akhir.append({'nama fitur': nama_fitur[hh],'suhu bumi (t)': cons_t,'const_n_first': const_n_first,'Ev': const_Ev,'Racc': Racc,'Time': te2, 'tahun true': list_tahun_true}, ignore_index=True)

        #pd.concat([df_hasil_akhir, df_temp_hasil], axis=0)
        #df_hasil_akhir = df_hasil_akhir.append(v_Racc_new, ignore_index = True) # ignoring index is optional

tf = datetime.datetime.now()
te = tf - ts
print('Waktu keseluruhan = ',te)

df_hasil_akhir

# Simpan df_hasil_akhir dalam file csv
file_name = 'df_hasil_akhir3.csv'
df_hasil_akhir.to_csv(file_name, encoding='utf-8', index=False)

Waktu keseluruhan =  1:41:56.613700

In [0]:
# ========Skema Pengujian Besar ====================

# load dataset
import pandas as pd
import numpy as np
import datetime
# load data as dataframe (df)
df_load_data = pd.read_csv('./dataset/weatherHistory.csv')
#df_ramadan = pd.read_csv('./dataset/ramadanDate.csv')

#fitur terpilih
nama_fitur = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)','Wind Bearing (degrees)', 'Visibility (km)', 'Pressure (millibars)']

df_hasil_akhir = pd.DataFrame(np.empty((0, 6))) #creates a new dataframe that's empty
df_hasil_akhir.columns=['nama fitur', 'suhu bumi (t)', 'const_n_first', 'Ev','Racc','Time']

ts = datetime.datetime.now()
#for hh in range(len(nama_fitur)): # utk loop fitur di dataset Weather ter
for hh in range(1): # utk loop fitur di dataset Weather ter
  #for ii in range(15,40): # utk loop parameter suhu ideal bumi (t)=[15;40]
  for ii in np.arange(15, 40.01, 0.01): # utk loop parameter suhu ideal bumi (t)=[15;40] dgn incrment 0.01
  #for ii in range(1): # utk loop parameter suhu ideal bumi (t)=[15;40] dgn incrment 0.01
    t = ii
    #for jj in range(1): # utk loop parameter const_n_first
    for jj in np.arange(1, 4, 1): # utk loop parameter const_n_first= [1;3]
      const_n_first = jj
      for kk in range(4): # utk loop parameter Ev = [0;3]
        Ev = kk
        Racc = 100

        ts2 = datetime.datetime.now()
        #start To Do
        # ..
        #end To Do
        tf2 = datetime.datetime.now()
        te2 = tf2 - ts2

        #print('.')
        #df_hasil_akhir['nama fitur'].append(str(nama_fitur[hh]), ignore_index = True)
        df_hasil_akhir = df_hasil_akhir.append({'nama fitur': nama_fitur[hh],'suhu bumi (t)': t,'const_n_first': const_n_first,'Ev': Ev,'Racc': Racc,'Time': te2}, ignore_index=True)

        #pd.concat([df_hasil_akhir, df_temp_hasil], axis=0)
        #df_hasil_akhir = df_hasil_akhir.append(v_Racc_new, ignore_index = True) # ignoring index is optional

tf = datetime.datetime.now()
te = tf - ts
print('Waktu keseluruhan = ',te)

df_hasil_akhir

In [0]:
# ========= End Untuk Pengujian Otomatis dengan nilai Parameter Dinamis =========

In [117]:
# Hitung banyak anggota tiap cluster per date yang sama
# kenapa 24, karena setiap harinya suhu diambi datanya tiap 1 jam, jadi total data tiap hari (per date) ada sebanyak 24
df_load_data[["Temperature (C)"]].groupby(df_load_data["Formatted Date"].str[:10]).size()

Formatted Date
2006-01-01    24
2006-01-02    24
2006-01-03    24
2006-01-04    24
2006-01-05    24
              ..
2016-12-27    24
2016-12-28    24
2016-12-29    24
2016-12-30    24
2016-12-31    24
Length: 4018, dtype: int64

In [118]:
# Hitung banyak anggota tiap cluster per date yang sama, tiap tahun ada sebanyak 365*24 = 8760
df_load_data[["Temperature (C)"]].groupby(df_load_data["Formatted Date"].str[:4]).size()

Formatted Date
2006    8760
2007    8760
2008    8784
2009    8760
2010    8784
2011    8760
2012    8784
2013    8760
2014    8757
2015    8760
2016    8784
dtype: int64